extends layout

block content
  h1 #{username}'s Account
  p Welcome #{username}
  form(action="/logout", method="post")
        button(type="submit") Logout
  table(width='928', border='1', cellpadding='5')
    tbody
        tr
          th(width='45', scope='col')  
          th(width='208', scope='col') TA
          th(width='142', scope='col') Start Date
          th(width='128', scope='col') Deadline
          th(width='162', scope='col')
            p
              | Completion
              br
              | Date
          th(width='155', scope='col') Comment
        tr
          th(scope='row') A1
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td 
            input.start(type="date" value="2014-10-03")
          td 
            input.dead(type="date" value="2014-10-15")
          td
            input.done(type="date" value="2014-10-11")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td
            input.start(type="date" value="2014-10-03")
          td
            input.dead(type="date" value="2014-10-15")
          td
            input.done(type="date" value="2014-10-06")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td
            input.start(type="date" value="2014-10-03")
          td
            input.dead(type="date" value="2014-10-15")
          td
            input.done(type="date" value="2014-10-14")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td 
            input.start(type="date" value="2014-10-03")
          td
            input.dead(type="date" value="2014-10-15")
          td
            input.done(type="date" value="2014-10-14")
          td.green ON TIME
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row') A2
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td
            input.start(type="date" value="2014-10-23")
          td 
            input.dead(type="date" value="2014-11-05")
          td
            input.done(type="date" value="2014-11-05")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td
            input.start(type="date" value="2014-10-23")
          td
            input.dead(type="date" value="2014-11-05")
          td
            input.done(type="date" value="2014-10-26")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td
            input.start(type="date" value="2014-10-23")
          td
            input.dead(type="date" value="2014-11-05")
          td
            input.done(type="date" value="2014-11-05")
          td.green ON TIME
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td
            input.start(type="date" value="2014-10-23")
          td
            input.dead(type="date" value="2014-11-05")
          td
            input.done(type="date" value="2014-11-05")
          td.green ON TIME
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Chris
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row') A4
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td
            input.start(type="date")
          td
            input.dead(type="date")
          td
            input.done(type="date")
          td.green  
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')
  h2 Users logged in
  ul
    each val, user in loggedInUsers
      li= user


